<h1 align="center"> All Categories </h1>
<div align="center">
<table>
	<% @categories.in_groups_of(3, false) do |category_row| %>
		<ul class = "listing">
			<div class="row">
				<tr class="spaceunder">
					<% for category in category_row %>
					<td align="center">
					  	<div class="text-box center col-md-3 col-md-offset-1">
							<li class="category-title">
						      <%= link_to "#{category.name}", category_path(category) %>
					        </li>
					    </div>
					</td>
					<% end %>
				</tr>
			</div>
		</ul>
	<% end %>
</table>
	
</div>
